/* Body */

body{
    text-align: center;
    font-family: Quicksand;
}


/* Header, Footer */

header, footer {
    padding: 1em;
    color: white;
    background-color: #62A6C4;
    clear: left;
    text-align: center;
    font-size: 150%;
}


/* Images */

img {
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Scrollmenu */

div#Scrollmenu {
    background-color: #62A6C4;
    overflow: auto;
    white-space: nowrap;
    width: 80%;
    margin: 0 auto;
}

div#Scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div#Scrollmenu a:hover {
    background-color: #8BC8E2;
}

div#Scrollmenu a.active{
    background-color: #8BC8E2;

}


/* Breaklines */

.breakline {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

#bl1 {
    width: 80%;
}

#bl2 {
    width: 70%;
}

#bl3 {
    width: 60%;
}

#bl4 {
    width: 50%;
}


/* Buttons */

.btn, button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-top: 2px;
}

.btn:hover, button:hover {
    background-color: #ddd;
}

.btn.active, button.active {
    background-color: #666;
    color: white;
}


/* Tables & content */

table, th, td {
    border: 1px solid #dedede;
    border-collapse: collapse;
    padding: 15px;
}

.e_table {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

#fatal,
#climbers
{
    width: 80%;
    margin: 0 auto;
    clear: both;
}

#fatal > td > div,
#climbers > td > div
{
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
}


/* Tooltip function from https://www.w3schools.com/css/css_tooltip.asp with own styling */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: smaller;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

h2 .tooltip .tooltiptext,
h3 .tooltip .tooltiptext {
    width: 140px;
    font-size: small;
    font-weight: normal;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Info */

.info {
    margin-bottom: 7px;
}